body {
  background-color: #fff;
  font-family: "abolition-soft",sans-serif;
  font-size: 18px;
  color: #ff4f3d;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
   -webkit-text-size-adjust: 100%;
}

p {
  margin: 0;
  padding: 0;

}

h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

p#about{
  letter-spacing: 0.5px;
  font-size: 14px;
}

#content-wrapper {
  position: relative;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

#info{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  position: absolute;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#experience-sketch{
  width: 40%;
}

@media only screen
and (max-device-width : 667px)
and (orientation : portrait) {
  #experience-sketch{
    width: 80%;
  }
}

#headset-icon-sm{
  width: 23px;
  height: auto;
}

#down-arrow{
  width: 10px;
  height: auto;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}


.image-upload {
    margin: auto;
}

.image-upload > input{
    display: none;
}

#camera-icon{
  width: 100px;
  height: auto;
  margin:auto;
}


.top-left{
  position: absolute;
  left: 20px;
  top: 10px;
  width: 63px;
  height: auto;
}

.top-left > img {
  width: 100%;
}

.top-right{
  position: absolute;
  right: 20px;
  top: 10px;
  width: 110px;
  height: auto;

}

.top-right > img {
  width: 100%;
}

hr {
  width: 40%;
  border: 0;
  height: 3px;
  background: #ff4f3d;;
  color: #ff4f3d;
}


/*A-FRAME*/
#scene-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.a-enter-vr-button{
  background: rgba(0, 0, 0, 0) url("headset.svg") 50% 50% no-repeat;
  background-size: 70% 70%;
  opacity: 1;

}
